@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: #005d55;
    color: #fff;
     font-family: "Bungee Spice", sans-serif;

}
